body{
width:95%;
margin-left:auto;
margin-right:auto;
}

#searchBar {
text-align:center;
margin-left:auto;
margin-right:auto;
}

#facetPlusResults{
margin-top: 50px;
}

#facets{
width:20%;
float:left;
overflow:auto;
height:80%;
position:fixed;
}

#results{
width:80%;
float:right;
}
