body{
width:95%;
margin-left:auto;
margin-right:auto;
}

#searchBar {
margin:auto;
padding:10px;
text-align:center;
width:100%;
}

#facets{
top:15%;
width:17%;
float:left;
overflow:auto;
position:fixed;
text-align:center;
border: 1px solid black;
minheight:70%;
background:#F0F0F0;
}

#content_tags,#usernames,#lang {
  text-align: left;
}

#trends{
  top:15%;
width:15%;
right:1%;
background:#F0F0F0;
text-align:center;
minheight:70%;
border: 1px solid black;
position:fixed;
}

#results{
top:15%;
width:60%;
overflow:auto;
height:70%;
position:fixed;
left:22%;
border: 1px solid black;

}


.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
border:1px solid #18ab29;
display:inline-block;
cursor:pointer;
color:#ffffff;
      font-family:Arial;
      font-size:17px;
width:80%;
      font-weight:bold;
      text-decoration:none;
      text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
position:relative;
top:1px;
}

.sideHeaderButton {
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
border:1px solid #ffffff;
display:inline-block;
cursor:pointer;
color:#ffffff;
      font-family:Arial;
      font-size:17px;
      width:69%;
padding:6px 15px;
	text-decoration:none;
}
.sideHeaderButton:hover {
	background-color:#eb675e;
}
.sideHeaderButton:active {
position:relative;
top:1px;
}

.refineButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  width:85%;
}
.refineButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.refineButton:active {
	position:relative;
	top:1px;
}
