body{
width:95%;
      margin-left:auto;
      margin-right:auto;
}

#searchBar {
margin:auto;
padding:10px;
	text-align:center;
width:60%;
}

#facets{
top:15%;
width:20%;
float:left;
overflow:auto;
position:fixed;
}

#topTwitters{
top:15%;
width:15%;
float:right;
overflow:auto;
}

#results{
top:15%;
width:60%;
overflow:auto;
height:70%;
position:fixed;
left:22%;
}


.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
border:1px solid #18ab29;
display:inline-block;
cursor:pointer;
color:#ffffff;
      font-family:Arial;
      font-size:17px;
width:80%;
      font-weight:bold;
      text-decoration:none;
      text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
position:relative;
top:1px;
}

.refineButton {
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
border:1px solid #ffffff;
display:inline-block;
cursor:pointer;
color:#ffffff;
      font-family:Arial;
      font-size:17px;
      width:80%;
padding:6px 15px;
	text-decoration:none;
}
.refineButton:hover {
	background-color:#eb675e;
}
.refineButton:active {
position:relative;
top:1px;
}
